@import "variables.scss";

////font style
// font weight upload 400, 600, 700
@mixin font-three-italic{
    font-family: $font;
    font-weight: 400;
    font-style: italic;
}
@mixin font-three{
    font-family: $font;
    font-weight: 400;
}
@mixin font-two{
    font-family: $font;
    font-weight: 600;
}
@mixin font-one{
    font-family: $font;
    font-weight: 700;
}
//// animation hover text
@mixin animation-time{
    transition: .2s;
    transition-delay: .1s;
}
////content position style
@mixin content-width-desktop{
    margin: 0 auto;
    max-width: 1000px;
}
/* @mixin content-width-tab{
    margin: 0 auto;
    max-width: 1000px;
} */
/* @mixin content-width-mobile{
    margin: 0 auto;
    max-width: 1000px;
} */