/* @mixin content-width-tab{
    margin: 0 auto;
    max-width: 1000px;
} */
/* @mixin content-width-mobile{
    margin: 0 auto;
    max-width: 1000px;
} */
* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, img {
  cursor: pointer;
}

body {
  background-color: #373e47;
  padding: 15px;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 2px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 2px 0 rgba(0, 0, 0, 0.3);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e4e4e4), to(#f2f2f2));
  background-image: linear-gradient(to top, #e4e4e4, #f2f2f2);
  padding: 15px 17px;
  margin: 0 auto;
  max-width: 1000px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
}

body header .text-logo {
  text-shadow: 0px 1px 0 #ffffff;
  font-size: 20px;
  color: #373e47;
}

body header .text-logo .text-style-1 {
  color: #a45f93;
}

body header .text-logo .text-style-2 {
  font-size: 18px;
  color: #8b95a4;
}

body header .head-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

body header .head-nav li {
  margin-right: 70px;
  text-shadow: 0px 1px 0 #ffffff;
  font-size: 14px;
  color: #143567;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

body header .head-nav li:hover {
  color: #a45f93;
}

body main {
  border: solid 1px #67707d;
  background-color: #57677f;
  margin: 0 auto;
  max-width: 1000px;
  padding: 15px 17px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .content-column {
  margin-right: 15px;
}

body main .content-column .content-row {
  width: 220px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 0 0 rgba(255, 255, 255, 0.3), inset 0px 2px 1px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 0 0 rgba(255, 255, 255, 0.3), inset 0px 2px 1px 0 rgba(0, 0, 0, 0.3);
  background-color: #373e47;
  padding: 10px 12px;
  margin-bottom: 15px;
}

body main .content-column .content-row .main-nav {
  list-style: none;
}

body main .content-column .content-row .main-nav li {
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75);
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #e4e4e4;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 2px solid #4c545e;
}

body main .content-column .content-row .main-nav li:first-child {
  padding-top: 0px;
}

body main .content-column .content-row .main-nav li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

body main .content-column .content-row .main-nav li:hover {
  color: #a45f93;
}

body main .content-column .content-row h2 {
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75);
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

body main .content-column .content-row p {
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75);
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: normal;
  color: #e4e4e4;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 30px;
}

body main .content-column .content-row a {
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75);
  font-size: 14px;
  color: #ff8de3;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
}

body main .content-column .content-row:last-child {
  margin-bottom: 0;
}

body main .content-column .container-title .title {
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75);
  font-size: 18px;
  letter-spacing: normal;
  color: #ffffff;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
}

body main .content-column .container-title .title-text {
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75);
  font-size: 12px;
  color: #e4e4e4;
  line-height: 1.5;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  margin-top: 10px;
}

body main .content-column:last-child {
  margin-right: 0;
}
/*# sourceMappingURL=style.css.map */