@import "variables.scss";
@import "mixins.scss";
@import "media.scss";

*{
    margin: 0;
    padding: 0;
    user-select: none; 
    box-sizing: border-box;
}
a, img {
    cursor: pointer;
}
// all styles

body{
    background-color: #373e47;
    padding: 15px;
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 3px;
        box-shadow: 0px 3px 2px 0 rgba(0, 0, 0, 0.3);
        background-image: linear-gradient(to top, #e4e4e4, #f2f2f2);
        padding: 15px 17px;

        @include content-width-desktop;
        @include font-one;

        .text-logo{
            text-shadow: 0px 1px 0 #ffffff;
            font-size: 20px;
            color: #373e47;
            .text-style-1 {
                color: #a45f93;
            }
            .text-style-2 {
                font-size: 18px;
                color: #8b95a4;
            }
        }
        .head-nav{
            display: flex;
            justify-content: center;
            list-style: none;
            li{
                margin-right: 70px;
                text-shadow: 0px 1px 0 #ffffff;
                font-size: 14px;
                color: #143567;
                @include animation-time;
            }
            li:hover{
                color: #a45f93;
            }
        }
    }
    main{
        border: solid 1px #67707d;
        background-color: #57677f;

        @include content-width-desktop;

        padding: 15px 17px;
        margin-bottom: 20px;
        display: flex;
        .content-column{
            margin-right: 15px;
            .content-row{
                width: 220px;
                border-radius: 3px;
                box-shadow: 0px 1px 0 0 rgba(255, 255, 255, 0.3), inset 0px 2px 1px 0 rgba(0, 0, 0, 0.3);
                background-color: #373e47;

                padding: 10px 12px;
                margin-bottom: 15px;
                .main-nav{
                    list-style: none;
                    li{
                        text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75);
                        font-size: 13px;
                        line-height: 1.54;
                        letter-spacing: normal;
                        text-align: left;
                        color: #e4e4e4;

                        @include font-three;
                        @include animation-time;

                        padding-bottom: 10px;
                        padding-top: 10px;
                        border-bottom: 2px solid #4c545e;
                    }
                    li:first-child{
                        padding-top: 0px;
                    }
                    li:last-child{
                        padding-bottom: 0;
                        border-bottom: none;
                    }
                    li:hover{
                        color: #a45f93;
                    }
                }
                h2{
                    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75);
                    font-size: 14px;
                    color: #ffffff;

                    @include font-one;

                    margin-bottom: 20px;
                }
                p{
                    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75);
                    font-size: 12px;
                    line-height: 1.67;
                    letter-spacing: normal;
                    color: #e4e4e4;

                    @include font-three-italic;

                    margin-bottom: 30px;
                }
                a{
                    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75);
                    font-size: 14px;
                    color: #ff8de3;

                    @include font-one;
                }
            }
            .content-row:last-child{
                margin-bottom: 0;
            }
            .container-title{
                .title{
                    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75);
                    font-size: 18px;
                    letter-spacing: normal;
                    color: #ffffff;

                    @include font-one;
                }
                .title-text{
                    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75);
                    font-size: 12px;
                    color: #e4e4e4;
                    line-height: 1.5;

                    @include font-three;

                    margin-top: 10px;
                }
            }
            .container-gallery{

            }
            .container-list{

            }
            .container-table{

            }
            .container-forms{

            }
        }
        .content-column:last-child{
            margin-right: 0;
        }
    }
    footer{

    }
}
